<<<<<<< HEAD
@include respond-to('phone-landscape') {
    .text-slider-style-05 {
        .swiper-slide {
            -webkit-filter: grayscale(0);
            filter:grayscale(0); 
            opacity:1;
            .services-box-style-01 {
                .icon-box {
                    opacity: 1;
                }
            }
        }

    }
=======
@include respond-to('phone-landscape') {
    .text-slider-style-05 {
        .swiper-slide {
            -webkit-filter: grayscale(0);
            filter:grayscale(0); 
            opacity:1;
            .services-box-style-01 {
                .icon-box {
                    opacity: 1;
                }
            }
        }

    }
>>>>>>> e2b1fc19647ab6e1e179280d32c4289ebc113927
}