<<<<<<< HEAD
@include respond-to('tablet') {
    .html-video {
        height: 100%;
    }
=======
@include respond-to('tablet') {
    .html-video {
        height: 100%;
    }
>>>>>>> e2b1fc19647ab6e1e179280d32c4289ebc113927
}