<<<<<<< HEAD
/* Text image mask */ 
.image-mask {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
=======
/* Text image mask */ 
.image-mask {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
>>>>>>> e2b1fc19647ab6e1e179280d32c4289ebc113927
}