<<<<<<< HEAD
/* Particles */
canvas{
  display:block;
  vertical-align:bottom;
=======
/* Particles */
canvas{
  display:block;
  vertical-align:bottom;
>>>>>>> e2b1fc19647ab6e1e179280d32c4289ebc113927
}