<<<<<<< HEAD
@import "icon/font-awesome"; 
@import "icon/themify-icons";
@import "icon/iconsmind-line";
@import "icon/feather";
=======
@import "icon/font-awesome"; 
@import "icon/themify-icons";
@import "icon/iconsmind-line";
@import "icon/feather";
>>>>>>> e2b1fc19647ab6e1e179280d32c4289ebc113927
@import "icon/bootstrap-icons";